.side-menu-container{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-menu-options{
    height: 50%;
}

.logo-icon{
    max-width: 150px;
    max-height: 150px;
}