.side-menu-container{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-menu-link{
    cursor: pointer;
    color: white;
}

.logo-icon{
    max-width: 150px;
    max-height: 150px;
}